fastapi==0.128.0
uvicorn==0.40.0

pydantic==2.12.5

streamlit==1.52.2

pandas==2.3.3
numpy==2.4.0

scikit-learn==1.8.0
joblib==1.5.3

spacy==3.8.11
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl

transformers==4.57.3
torch

nltk==3.9.4
rouge_score==0.1.2

pdfplumber==0.11.8

matplotlib==3.10.9
wordcloud==1.9.6

requests==2.32.5